<div class="container">

  <div class="card">

    <form (ngSubmit)="onSubmit()">

      <h1>Deposit Amount</h1>

      <mat-form-field class="field" appearance="outline">
        <mat-label>Enter Account Number</mat-label>
        <input name="accountNumber" [(ngModel)]="deposit.accountId" matInput>
      </mat-form-field>
      <mat-form-field class="field" appearance="outline">
        <mat-label>Please Enter the amount</mat-label>
        <input name="amount" [(ngModel)]="deposit.amount" matInput>
      </mat-form-field>


      <div class="text-center">



        <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
        <button type="reset" mat-raised-button color="accent">Cancel</button>


      </div>

    </form>

    <!-- {{ data | json }} -->


  </div>

</div>