<div class="container">

  <div class="card">



    <h1>Transfer Amount</h1>

    <mat-form-field class="field" appearance="outline">
      <mat-label>Enter Your Account Number</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="field" appearance="outline">
      <mat-label>Enter Receiver's Account Number</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="field" appearance="outline">
      <mat-label>Please Enter the amount</mat-label>
      <input matInput>
    </mat-form-field>


    <div class="text-center">



      <button type="submit" mat-raised-button color="primary">Submit</button>
      <button type="reset" mat-raised-button color="accent">Cancel</button>


    </div>






  </div>

</div>