<div class="container">
  <div class="card">
    <form (ngSubmit)="onSubmit()">

      <h1>Add Customer</h1>

      <mat-form-field class="field" appearance="outline">
        <mat-label>First Name</mat-label>
        <input type="text" name="firstName" [(ngModel)]="customer.firstName" matInput>
      </mat-form-field>
      <mat-form-field class="field" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input type="text" name="lastName" [(ngModel)]="customer.lastName" matInput>
      </mat-form-field>
      <mat-form-field class="field" appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <input type="text" name="mobileNumber" [(ngModel)]="customer.mobileNumber" matInput>
      </mat-form-field>

      <div class="text-center">

        <button type="submit" mat-raised-button color="primary" >Submit</button>
        <button type="reset" mat-raised-button color="accent">Cancel</button>

      </div>

    </form>

    <!-- {{ data | json }} -->


  </div>

</div>